div.user-card
  h4 #{loggedUser.name.first.toUpperCase()} #{loggedUser.name.last.toUpperCase()} <small>(#{loggedUser.age} ans)</small>
  p Né le #{loggedUser.birthdate.toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' })}
  p Vivant à 
    strong #{loggedUser.location.city}, #{loggedUser.location.zipcode}
  if loggedUser.isAdmin
    span.badge-admin Est administrateur
